---
// import './styles/base.css'
import notoSans300Woff2 from '@fontsource/noto-sans-jp/files/noto-sans-jp-latin-300-normal.woff2?url';
import notoSans400Woff2 from '@fontsource/noto-sans-jp/files/noto-sans-jp-latin-400-normal.woff2?url';
import notoSans600Woff2 from '@fontsource/noto-sans-jp/files/noto-sans-jp-latin-600-normal.woff2?url';
import notoSerif300Woff2 from '@fontsource/noto-serif-jp/files/noto-serif-jp-latin-300-normal.woff2?url';
import notoSerif400Woff2 from '@fontsource/noto-serif-jp/files/noto-serif-jp-latin-400-normal.woff2?url';
import notoSerif600Woff2 from '@fontsource/noto-serif-jp/files/noto-serif-jp-latin-600-normal.woff2?url';
import notoSerif900Woff2 from '@fontsource/noto-serif-jp/files/noto-serif-jp-latin-900-normal.woff2?url';
import yujiSyuku400Woff2 from '@fontsource/yuji-syuku/files/yuji-syuku-latin-400-normal.woff2?url';

import Header from './header/index.astro';
import Footer from './footer/index.astro';
import type { IShopAddressMap, IShoppingBagSidebarProp } from '@misc';
import LoadingOverlay from './loading-overlay.astro';
import ErrorMsgModal from './error-msg-modal.astro';
import CollectionPointOnQtyIncrease from './collection-point-on-qty-increase.astro'
import { PUBLIC_FM_COMPANY_NAME_SHORT, PUBLIC_FM_PUBLIC_IMAGE_URL_PREFIX, FM_IS_ONLINE, PUBLIC_FM_ACCEPT_MEMBERSHIP } from 'astro:env/client'
import SvgSets from './svg-sets.astro'

interface Props {
  paymentInProcess:boolean;
  showUserIcon?:boolean;
  shoppingBagProp?:IShoppingBagSidebarProp;
  selCollectionPoint:number;
  prfCollectionPoint:number;
  shopAddressMap:IShopAddressMap;
  signedIn:boolean;
  hasItemsInCart?:boolean;
  firstName:string;
  total?:number;
  title:string;
  isProductPage?:boolean;
  headerCarouselTexts:string[];
  metaDescription?:string;
  imageURL?:string;
  price?:number;
  inStock?:boolean;
  preloadImageFilename?:string;
  preloadImageExt?:string;
  schema?:string;
}

const { 
  showUserIcon = true, 
  shoppingBagProp, 
  paymentInProcess, 
  selCollectionPoint, 
  prfCollectionPoint, 
  shopAddressMap,
  signedIn,
  hasItemsInCart = false,
  firstName,
  total = 0,
  title,
  isProductPage = false,
  headerCarouselTexts,
  metaDescription = '',
  imageURL = '',
  price = 0,
  inStock = false,
  preloadImageFilename = '',
  preloadImageExt = '',
  schema = '',
} = Astro.props
const isCheckoutPage = Astro.url.pathname === '/checkout'
const isContactPage = Astro.url.pathname === '/contact'

const shopNameMap = Object.values(shopAddressMap).map(e=>({[e.id]:e.name})).reduce((a,b)=>({...a,...b}),{})

let cartHasItems = false
if (!!shoppingBagProp){
  const { cartItemMap } = shoppingBagProp
  if (!!cartItemMap) cartHasItems = !!Object.values(cartItemMap).map(e=>e.quantity).filter(e=>!!e).length
} else cartHasItems = hasItemsInCart

const href = Astro.url.href.replaceAll('http://','https://')

const fontCss = `
    @font-face {
      font-family: 'Noto Sans JP';
      font-style: normal;
      font-display: swap;
      font-weight: 300;
      src: url(${notoSans300Woff2}) format('woff2');
      unicode-range: U+0021-007E, U+00A3;
    }

    @font-face {
      font-family: 'Noto Sans JP';
      font-style: normal;
      font-display: swap;
      font-weight: 400;
      src: url(${notoSans400Woff2}) format('woff2');
      unicode-range: U+0021-007E, U+00A3;
    }

    @font-face {
      font-family: 'Noto Sans JP';
      font-style: normal;
      font-display: swap;
      font-weight: 600;
      src: url(${notoSans600Woff2}) format('woff2');
      unicode-range: U+0021-007E, U+00A3;
    }

    @font-face {
      font-family: 'Noto Serif JP';
      font-style: normal;
      font-display: swap;
      font-weight: 300;
      src: url(${notoSerif300Woff2}) format('woff2');
      unicode-range: U+0021-007E, U+00A3;
    }

    @font-face {
      font-family: 'Noto Serif JP';
      font-style: normal;
      font-display: swap;
      font-weight: 400;
      src: url(${notoSerif400Woff2}) format('woff2');
      unicode-range: U+0021-007E, U+00A3;
    }

    @font-face {
      font-family: 'Noto Serif JP';
      font-style: normal;
      font-display: swap;
      font-weight: 600;
      src: url(${notoSerif600Woff2}) format('woff2');
      unicode-range: U+0021-007E, U+00A3;
    }

    @font-face {
      font-family: 'Noto Serif JP';
      font-style: normal;
      font-display: swap;
      font-weight: 900;
      src: url(${notoSerif900Woff2}) format('woff2');
      unicode-range: U+0021-007E, U+00A3;
    }

    @font-face {
      font-family: 'Yuji Syuku';
      font-style: normal;
      font-display: swap;
      font-weight: 400;
      src: url(${yujiSyuku400Woff2}) format('woff2');
      unicode-range: U+0021-007E, U+00A3;
    }
`

---

<html lang="en-GB">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>

  <link rel="preconnect" href="https://challenges.cloudflare.com" crossorigin>

  {!!preloadImageFilename && !!preloadImageExt && <>
    {FM_IS_ONLINE === 'true' && <>
      <link rel="preconnect" href={PUBLIC_FM_PUBLIC_IMAGE_URL_PREFIX}>
      <link rel="dns-prefetch" href={PUBLIC_FM_PUBLIC_IMAGE_URL_PREFIX}>
    </>}
    <link rel="preload" href={`${PUBLIC_FM_PUBLIC_IMAGE_URL_PREFIX}${preloadImageFilename}.avif`} as="image" type='image/avif' />
  </>}

  <link rel="preload" as="font" type="font/woff2" href={notoSans300Woff2} crossorigin="anonymous" />
  <link rel="preload" as="font" type="font/woff2" href={notoSans400Woff2} crossorigin="anonymous" />
  <link rel="preload" as="font" type="font/woff2" href={notoSans600Woff2} crossorigin="anonymous" />
  <link rel="preload" as="font" type="font/woff2" href={notoSerif300Woff2} crossorigin="anonymous" />
  <link rel="preload" as="font" type="font/woff2" href={notoSerif400Woff2} crossorigin="anonymous" />
  <link rel="preload" as="font" type="font/woff2" href={notoSerif600Woff2} crossorigin="anonymous" />
  <link rel="preload" as="font" type="font/woff2" href={notoSerif900Woff2} crossorigin="anonymous" />
  <link rel="preload" as="font" type="font/woff2" href={yujiSyuku400Woff2} crossorigin="anonymous" />

  <script src="../../ws.ts"></script>
  
  <link rel="shortcut icon" href="/favicon.ico" sizes="32x32">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" id="favicon-svg">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="canonical" href={href} />

  {['og','twitter'].map(e=>(
    <meta property={`${e}:title`} content={title} />
  ))}

  <meta property="og:type" content={isProductPage ? 'product' : 'website'} />
  <meta property="og:url" content={href} />
  <meta property="og:site_name" content={PUBLIC_FM_COMPANY_NAME_SHORT} />
  {isProductPage && <>
    <meta property="og:availability" content={inStock ? "instock" : "out of stock"} />
    <meta property="product:gender" content="female" />
  </>}
  {!!price && <>
    <meta property="product:price:amount" content={(price * 0.01).toFixed(2)} />
    <meta property="product:price:currency" content="GBP" />
  </>}
  
  <meta name="twitter:card" content="summary_large_image" />

  {!!metaDescription && <>
    <meta name="description" content={metaDescription} />
    <meta property="og:description" content={metaDescription} />
  </>}

  {!!imageURL && <>
    <meta property="og:image" content={imageURL} />
  </>}

  {!!schema && <script type="application/ld+json" set:html={schema} />}

  <meta name="theme-color" content="#ffffff">

  <style set:html={fontCss} />

  <style is:global>
    .hide-scrollbar {
      scrollbar-width: none;
    }
    .hide-scrollbar::-webkit-scrollbar {
      width: 0;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type=number] {
        -moz-appearance:textfield; /* Firefox */
    }

    #free-shipping-progress[value]::-webkit-progress-bar {
      background-color: #ddd;
      border-radius: 10px;
    }

    #free-shipping-progress[value]::-webkit-progress-value {
      background-image: -webkit-linear-gradient(left, #ddd, #777, #000);
      border-radius: 10px;
      transition-property:width;
      transition-duration: 300ms;
    }

    .header-carousel-span {
      padding-left: clamp(30px, 5vw, 80px);
    }

    .header-carousel-p {
      animation-iteration-count: infinite;
      animation-name: header-carousel-anim;
      animation-timing-function: linear;
    }

    .header-carousel-container:has(.header-carousel-p:hover) .header-carousel-p {
      animation-play-state: paused;
    }

    @keyframes header-carousel-anim {
      from {
        transform: translateX(0%);
      }
      to {
        transform: translateX(-100%);
      }
    }
  </style>

  {(isContactPage || isCheckoutPage || PUBLIC_FM_ACCEPT_MEMBERSHIP === 'true') && <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=onloadTurnstileCallback" defer></script>}
</head>
<body 
  data-pip={paymentInProcess ? 1 : 0} 
  data-selected-collection-point={selCollectionPoint}
  data-preferred-collection-point={prfCollectionPoint}
  data-shop-name-map={JSON.stringify(shopNameMap)}
  data-signed-in={signedIn ? '1' : '0'}
  data-has-items={cartHasItems ? '1' : '0'}
  class={`${isCheckoutPage ? 'bg-gray-100' : 'bg-white'} text-gray-900 flex flex-col min-h-screen overflow-x-hidden`}
  data-member-total={total}
>
  <SvgSets />
  <Header {...{showUserIcon,shoppingBagProp,firstName,signedIn,headerCarouselTexts}} />
  <main class={`${isCheckoutPage ? 'bg-gray-100' : 'bg-white'} w-full ${!!headerCarouselTexts.length ? 'mt-[64px] xs:mt-[72px] md:mt-[88px]' : 'mt-[40px] xs:mt-[48px] md:mt-[64px]'}`}>
    <slot />
  </main>
  <Footer />

  <LoadingOverlay />
  <ErrorMsgModal />
  <CollectionPointOnQtyIncrease />
  <slot name="body-end" />
  {(isContactPage || isCheckoutPage || PUBLIC_FM_ACCEPT_MEMBERSHIP === 'true') && <div id="turnstile-tag" />}
</body>
</html>

<script>
  import { 
    HEADER_TEXT_CAROUSEL_LOADED, 
  } from "@misc/event-keys"
  import { PUBLIC_FM_TURNSTILE_SITEKEY, PUBLIC_FM_ACCEPT_MEMBERSHIP } from 'astro:env/client'
  import { 
    selectedCollectionPoint, 
    otherClientPaymentInProcess, 
    shopNameMap, 
    preferredCollectionPoint, 
    signedIn, 
    pageToken,
  cartHasItems,
  memberTotalToPay,
  turnstilePassed,
  } from "@stores"
  
  declare global {
    interface Window {
      onloadTurnstileCallback: ()=>void;
    }
  }
  
  if (performance.getEntriesByType('navigation')[0]['type'] === "back_forward") window.location.reload()
  
  const reloadBC = new BroadcastChannel('reload')
  
  const header = document.getElementsByTagName('header')[0] as HTMLDivElement
  const main = document.getElementsByTagName('main')[0] as HTMLDivElement
  const footer = document.getElementsByTagName('footer')[0] as HTMLDivElement
  
  pageToken.set('crypto' in window ? crypto.randomUUID() : Math.random().toString())
  
  let resizeTimeout
  const resize = () => {
    const { innerHeight } = window
    const { height: headerHeight } = header.getBoundingClientRect()
    const { height: footerHeight } = footer.getBoundingClientRect()
    main.style.minHeight = `${ innerHeight - headerHeight - footerHeight }px`
    main.style.marginTop = `${ headerHeight }px`
  }
  const onResize = () => {
    clearTimeout(resizeTimeout)
    resizeTimeout = setTimeout(resize,200)
  }
  
  const headerResizeObserver = new ResizeObserver(resize)
  headerResizeObserver.observe(header)
  
  const beforeUnload = () => {
    reloadBC.close();
    [
      'shopping-bag-sidebar-checkbox',
      'user-sidebar-checkbox',
      "menu-sidebar-checkbox"
    ].forEach(e=>{
      const checkbox = document.getElementById(e) as HTMLInputElement
      if (!!checkbox && checkbox.checked) checkbox.click()
    })
  }
  
  memberTotalToPay.set(+document.body.dataset.memberTotal)
  cartHasItems.set(!!(+document.body.dataset.hasItems))
  signedIn.set(!!(+document.body.dataset.signedIn))
  shopNameMap.set(JSON.parse(document.body.dataset.shopNameMap))
  selectedCollectionPoint.set(!!Object.keys(shopNameMap.get()).length ? +document.body.dataset.selectedCollectionPoint : 1)
  preferredCollectionPoint.set(!!Object.keys(shopNameMap.get()).length ? +document.body.dataset.preferredCollectionPoint : 1)
  otherClientPaymentInProcess.set(!!(+document.body.dataset.pip))
  reloadBC.onmessage = (ev:MessageEvent<string>) => ev.data !== pageToken.get() && window.location.reload()
  document.addEventListener(HEADER_TEXT_CAROUSEL_LOADED,resize,true)
  window.addEventListener('resize',onResize,true)
  
  window.addEventListener('load',resize,{once:true});
  window.addEventListener('beforeunload',beforeUnload)
  
  if (['/contact','/checkout'].indexOf(window.location.pathname) !== -1 || PUBLIC_FM_ACCEPT_MEMBERSHIP === 'true') {
    window.onloadTurnstileCallback = () => {
      window.turnstile.render("#turnstile-tag", {
        sitekey: PUBLIC_FM_TURNSTILE_SITEKEY,
        callback: () => {
          // console.log("Turnstile success")
          const btnToCheck = document.getElementsByClassName('turnstile-check') as HTMLCollectionOf<HTMLInputElement>
          const len = btnToCheck.length
          for (let i=0; i<len; i++) btnToCheck.item(i).disabled = false
          turnstilePassed.set(true)
        },
        "error-callback":()=>{}
      });
    }
  }
  
  // favicon svg
  const faviconSvg = document.getElementById('favicon-svg') as HTMLLinkElement
  window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change',(e)=>{
    if (!!faviconSvg) faviconSvg.href = `/favicon-${e.matches ? 'dark' : 'light'}.svg`
  })
</script>